body {
  background-color: lightgreen;
}

select {
  font-size: 1.2em;
}

#output-currency-form {
  display: none;
}

#amount-input-form {
  display: none;
}

#reset {
  display: none;
}

.display-common {
  display:none;
}

.show-errors {
  font-size: 1.5em;
  font-style: italic;
}

.all {
  display: none;
}